# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp files
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.js
!postcss.config.js
!tailwind.config.ts
debug-*.html
prisma_error.log
serper-*.json
test-*.js
test-*.ts
testLinks.js
testSearch.ts
